<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394052784084-p9atjeph9vgluc5gg48lgis84nfstk6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394052784084-p9atjeph9vgluc5gg48lgis84nfstk6t</string>
	<key>API_KEY</key>
	<string>AIzaSyD-malHKUNX-jwt8NjOVplLoWzgBDlg6Zo</string>
	<key>GCM_SENDER_ID</key>
	<string>394052784084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>murat.com.EglenceSepeti</string>
	<key>PROJECT_ID</key>
	<string>eglencesepeti-78bae</string>
	<key>STORAGE_BUCKET</key>
	<string>eglencesepeti-78bae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394052784084:ios:ad737fedaa6241330f1041</string>
</dict>
</plist>